
  <manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.netgalaxystudios.pdfreader.netgalaxypdfreader">

      <application>
          <activity
              android:name="com.netgalaxystudios.pdfreader.PDFViewActivity"
              android:theme="@style/NoActionBar"
              android:label="@string/app_name" >
              <intent-filter>
                  <action android:name="android.intent.action.MAIN" />
                  <category android:name="android.intent.category.LAUNCHER" />
              </intent-filter>
          </activity>
      </application>
  </manifest>
  